rules_version = '2';
service cloud::firestore {
  match /databases/{database}/documents {
    match /admin_settings/{settingKey} {
      allow read, write: if true;
    }
    match /users_account/{userPhone} {
      allow read, write: if true;
    }
    match /payments/{paymentId} {
      allow read, write: if true;
    }
  }
}
